@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #3c4858;
  background-color: #fff;
  line-height: 1.7; }

.container {
  display: grid;
  grid-template-rows: 6rem calc(100vh - 6rem) min-content repeat(5, 40vw) min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.about,
.contact,
.missCalled {
  display: grid;
  grid-template-rows: 6rem repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.productLayout {
  display: grid;
  grid-template-rows: 6rem min-content repeat(5, 40vw) min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Nunito", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1; }
  .heading-2--white {
    color: #fff; }

.heading-3 {
  font-size: 2rem;
  color: #3c4858;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer; }

.font--10 {
  font-size: 1rem; }

.font--11 {
  font-size: 1.1rem; }

.font--12 {
  font-size: 1.2rem; }

.font--13 {
  font-size: 1.3rem; }

.font--14 {
  font-size: 1.4rem; }

.font--15 {
  font-size: 1.5rem; }

.font--16 {
  font-size: 1.6rem; }

.font--17 {
  font-size: 1.7rem; }

.font--18 {
  font-size: 1.8rem; }

.font--19 {
  font-size: 1.9rem; }

.font--20 {
  font-size: 2rem; }

.font--22 {
  font-size: 2.2rem; }

.font--24 {
  font-size: 2.4rem; }

.color--a {
  color: #aaa; }

.color--e {
  color: #eee; }

.upper {
  text-transform: uppercase; }

.lower {
  text-transform: lowercase; }

.cap {
  text-transform: capitalize; }

.mb--1 {
  margin-bottom: 1rem; }

.mb--3 {
  margin-bottom: 3rem; }

.mt--1 {
  margin-top: 1rem; }

.mt--2 {
  margin-top: 2rem; }

.mb--2 {
  margin-bottom: 2rem; }

.p--0 {
  padding: 0; }

.weight--400 {
  font-weight: 400; }

.weight--500 {
  font-weight: 500; }

.weight--600 {
  font-weight: 600; }

.weight--700 {
  font-weight: 700; }

.blue {
  color: #0071e3; }

.btn, .btn:link, .btn:visited {
  box-sizing: border-box;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 2px; }
  .btn__bg, .btn:link__bg, .btn:visited__bg {
    background-color: #000;
    color: #fff; }
  .btn__border, .btn:link__border, .btn:visited__border {
    border-radius: 10rem; }
  .btn__pd, .btn:link__pd, .btn:visited__pd {
    padding: 1rem 2rem; }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    outline: none; }

.cards {
  display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  transition: all .3s; }
  .card__img {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/-1; }
  .card__heading {
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 2rem 1rem 3rem 2rem;
    text-transform: capitalize;
    color: #777; }
  .card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    cursor: pointer; }

.banners {
  grid-column: full-start / full-end; }

.banner {
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: center;
  padding: 12rem; }
  .banner__product, .banner__solution {
    display: grid;
    grid-template-rows: repeat(2, min-content) minmax(6rem, max-content);
    grid-template-columns: minmax(min-content, max-content);
    grid-gap: 1rem; }
  .banner__btn {
    padding: 1.5rem 4rem;
    display: grid;
    justify-self: start;
    background-color: #000;
    color: #fff;
    font-weight: 700; }

.stories {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: start;
  margin: 7rem 0; }

.story {
  z-index: 2; }
  .story__content {
    padding: 6rem 5vw;
    justify-items: start; }

.bg-video {
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .7;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

li {
  display: block;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s; }
  @media only screen and (max-width: 75em) {
    li {
      padding: 0; } }

li a {
  color: #222; }

li:hover,
li:focus-within {
  background: #fff;
  cursor: pointer; }

li:focus-within a {
  outline: none; }

ul li ul {
  background: #f9f9f9;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none; }

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); }

ul li ul li {
  clear: both;
  width: 100%; }

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw; }

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease; }

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible; }

.accordion label {
  display: block;
  background-color: #f9f9f9; }

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 3rem;
  border-radius: 3px;
  background-color: #fbfbfb; }

.accordion label {
  color: #3c4858;
  cursor: pointer;
  padding: 1.5rem; }

.accordion .handle label:before {
  content: "+";
  display: inline-block;
  margin-right: 10px;
  line-height: 1.556em;
  vertical-align: middle;
  float: right;
  clear: both; }

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "x"; }

.accordion {
  max-width: 65em; }

.accordion p:last-child {
  margin-bottom: 0; }

.navbar {
  grid-column: full-start / full-end;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: column;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 1px 0.6rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 75em) {
    .navbar {
      grid-template-columns: 1fr;
      background-color: #fff;
      padding: 0 1rem; } }
  .navbar__logo {
    width: 3rem;
    display: grid;
    justify-self: start; }
  .navbar__name {
    color: #000;
    font-style: italic;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px; }
  .navbar__items {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    grid-column-gap: 4rem; }
    @media only screen and (max-width: 75em) {
      .navbar__items {
        grid-column-gap: normal;
        display: grid;
        align-items: center;
        justify-content: normal;
        justify-items: center;
        grid-row: 2/3; } }
  .navbar__link {
    color: #777;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize; }
    .navbar__link:hover {
      color: #000; }
  .navbar__active {
    color: #0071e3;
    font-weight: 700; }

.slider {
  grid-column: full-start / full-end;
  position: relative;
  overflow: hidden; }

.slide {
  background-size: cover;
  background-position: center;
  position: absolute;
  transition: transform 1s;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: center;
  padding: 0 0 0 12rem;
  height: calc(100vh - 4rem);
  width: 100vw; }
  @media only screen and (max-width: 75em) {
    .slide {
      grid-template-columns: 1fr max-content;
      height: calc(100vh - 6rem);
      padding: 0 1.5rem; } }
  .slide__product, .slide__solution {
    display: grid;
    grid-template-rows: repeat(2, min-content) minmax(6rem, max-content);
    grid-template-columns: minmax(min-content, max-content);
    grid-gap: 1rem; }
  .slide__btn {
    padding: 1.5rem 4rem;
    display: grid;
    justify-self: start;
    background-color: #000;
    color: #fff;
    font-weight: 700; }

.arrow__left {
  position: absolute;
  left: 2rem;
  top: calc(50vh - 5rem);
  z-index: 9990; }

.arrow__right {
  position: absolute;
  right: 2rem;
  top: calc(50vh - 5rem);
  z-index: 9990; }

@media only screen and (max-width: 75em) {
  .arrow__left,
  .arrow__right {
    top: calc(100vh - 20vh); } }

.arrow__circle {
  border: 2px solid #777;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  z-index: 9999; }
  .arrow__circle:hover {
    border: 2px solid #000;
    cursor: pointer; }

.arrow__arr {
  z-index: 9999;
  width: 2rem;
  fill: none;
  stroke: #000;
  stroke-width: 2px; }

.rfid__picture {
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  object-fit: cover;
  z-index: 1;
  background-color: #fbfbfb; }
  @media only screen and (max-width: 75em) {
    .rfid__picture {
      grid-column: full-start/ full-end;
      grid-column: 1/-1;
      margin: 0; } }

.rfid__img--1 {
  width: 100%;
  grid-row: 1 / -1;
  grid-column: 1 / 5;
  height: auto;
  z-index: 2; }
  @media only screen and (max-width: 50em) {
    .rfid__img--1 {
      grid-row: 2 / 6; } }

.rfid__selfy {
  width: 100%;
  grid-row: 1 / -1;
  grid-column: 2 / 5;
  height: auto;
  z-index: 2; }
  @media only screen and (max-width: 50em) {
    .rfid__selfy {
      grid-row: 2 / 6; } }

.rfid__content {
  grid-column: col-start 5 / full-end;
  padding: 3rem 1rem;
  display: grid;
  align-content: center;
  justify-items: start;
  background-color: #fbfbfb; }
  @media only screen and (max-width: 75em) {
    .rfid__content {
      grid-column: full-start/ full-end;
      margin: 0;
      padding: 2rem; } }

.attendance__picture {
  background-color: #f2f2f2;
  grid-column: col-start 5 / full-end;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .attendance__picture {
      grid-column: full-start/ full-end; } }

.attendance__img--1 {
  width: 100%;
  grid-row: 1/6;
  grid-column: 1/-1; }
  @media only screen and (max-width: 75em) {
    .attendance__img--1 {
      grid-column: full-start/ full-end;
      grid-row: 1/ -1;
      grid-column: 1/ -1; } }

.attendance__content {
  grid-column: full-start / col-end 4;
  background-color: #f2f2f2;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 75em) {
    .attendance__content {
      grid-column: full-start/ full-end;
      margin: 0;
      padding: 2rem; } }

.pro {
  grid-column: center-start / center-end;
  margin: 2rem 0; }
  @media only screen and (max-width: 75em) {
    .pro {
      grid-column: full-start / full-end;
      padding: 0 1.5rem; } }

.missCalls {
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 2rem;
  padding: 7rem 0; }

.price__card {
  grid-column: center-start / col-end 3;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  padding: 5rem 3rem;
  margin: 5rem 0;
  overflow: hidden;
  border-radius: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 2px solid rgba(0, 113, 227, 0.3); }
  .price__card__border {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    display: grid;
    justify-items: center;
    grid-row-gap: 1rem; }

.price__form {
  grid-column: col-start 6 / center-end;
  background-color: #f9f9f9;
  padding: 5rem 3rem;
  margin: 5rem 0;
  overflow: hidden;
  border-radius: 1rem; }

.form {
  grid-column: col-start 2/ col-end 5;
  background-color: #f9f9f9;
  padding: 5rem 8rem;
  margin: 7rem 0;
  overflow: hidden;
  border-radius: 1rem; }
  @media only screen and (max-width: 75em) {
    .form {
      grid-column: full-start / full-end;
      padding: 0 1.5rem; } }
  .form__group {
    grid-row: 1/-1;
    grid-column: 1/-1;
    margin-bottom: 2rem; }
  .form__input {
    padding: 1rem 0;
    width: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #aaa;
    background-color: transparent; }
  .form__items {
    display: grid;
    justify-items: end; }
  .form__btn {
    padding: .5rem 2rem;
    background-color: #aaa;
    color: #fff;
    font-weight: 700; }
    .form__btn:hover {
      background-color: #000; }

.footer {
  grid-column: full-start/full-end;
  padding: 5rem 4rem 5rem 7rem;
  color: #777;
  background-color: #f9f9f9;
  border-top: 2px solid #ddd; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 2rem 1.5rem; } }
  .footer__logo {
    width: 30rem;
    object-fit: cover;
    margin-top: 5rem; }
    @media only screen and (max-width: 75em) {
      .footer__logo {
        width: 20rem;
        margin-bottom: 3rem; } }
  .footer__name {
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -1px; }
  .footer__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .footer__list {
    display: grid;
    justify-content: start;
    grid-gap: 1.5rem;
    align-content: start; }
  .footer__link {
    font-size: 1.6rem;
    color: #777; }
    .footer__link:hover {
      color: #000; }
