// COLOR VARIABLES

$font--10: 1rem;
$font--11: 1.1rem;
$font--12: 1.2rem;
$font--13: 1.3rem;
$font--14: 1.4rem;
$font--15: 1.5rem;
$font--16: 1.6rem;
$font--17: 1.7rem;
$font--18: 1.8rem;
$font--19: 1.9rem;
$font--20: 2rem;
$font--22: 2.2rem;
$font--24: 2.4rem;

// WEIGHT
$weight--300: 300;
$weight--400: 400;
$weight--500: 500;
$weight--600: 600;
$weight--700: 700;

$color-primary: #3c4858;
$color-primary-2: #e8eaed;
$color-primary-1: #111;
$color-d: #ddd;
$color-c: #ccc;
$color-d: #ddd;
$color-e: #eee;
$color-f2: #f2f2f2;
$color-f5: #f5f5f5;
$color-f7: #f7f7f7;
$color-f9: #f9f9f9;
$color-fb: #fbfbfb;
$color-a: #aaa;
$color-7: #777;
$color-white: #fff;
$color-2: #222;
$color-black: #000;
$color-blue: #0071e3;
$color-blue-dark: #101d2c;

// SHADOW
$shadow-14: 0 0 0.5rem rgba($color-black, 0.14);

// BP
$bp-large: 75em;
$bp-medium: 50em;
$bp-small: 37.5em;

// FONT VARIABLES
$display--primary: "Nunito", sans-serif;
$display--display: "Josefin Sans", sans-serif;
$display--logo: cursive;
